species: homo_sapiens
# include scxa accession here we want to use for deconvolution references
accessions:
  - E-CURD-88 #just one example

# if we know that more than one scxa accesion produces the same organism parts
# we have to decide from which scxa accession we would like to get the reference from
# So here we specify wich uberonId_scxaAccession we dont want in the reference libary.
# e. g this example prevents that sigmoid colon from E-CURD-88 is produces.
exclude_tissues_from_accessions:
  - UBERON_0001159_E-CURD-88 #E-ANND-4 has more suitable cell types for sigmoid colon
