species:
  - name: homo_sapiens
    accessions: # include scxa accession here we want to use for deconvolution references
      - E-CURD-88 #just one example
    exclude_tissues_from_accessions:
      - UBERON_0001159_E-CURD-88 #E-ANND-4 has more suitable cell types for sigmoid colon
  - name: drosophila_melanogaster
    accessions:
      - E-MTAB-10519
    exclude_tissues_from_accessions:
      - None
  - name: mus_musculus
    accessions:
      - E-ENAD-15
    exclude_tissues_from_accessions:
      - UBERON_0002107_E-ENAD-15
